/* Global styles
================================================== */

a {
  color: #70c6ff;
}

a.read-more:hover {
  color: #327cbc;
}


/* Typography
================================================== */

.btn.btn-primary {
  border: 2px solid #70c6ff;
}

.btn.btn-primary:hover {
  background: #70c6ff;
}

.btn.btn-primary.solid {
  background: #70c6ff;
}

ul.circle li:before {
  color: #70c6ff;
}

ul.check-list li i {
  color: #70c6ff;
}

blockquote {
  border-left: 5px solid #70c6ff;
}

/* Common styles
================================================== */

.heading:hover .title-icon {
  color: #70c6ff;
}

h2.entry-title a:hover {
  color: #70c6ff;
}

/* Icon pentagon */

.icon-pentagon {
  background: none repeat scroll 0 0 #70c6ff;
}

.icon-pentagon:before {
  border-bottom: 10px solid #70c6ff;
}

.icon-pentagon:after {
  border-top: 10px solid #70c6ff;
}

.service-icon:before {
  border-bottom: 30px solid #70c6ff;
}

.service-icon:after {
  border-top: 30px solid #70c6ff;
}

/* Carousel controller */

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
  background: #70c6ff;
}

/* Input form */

.form-control:focus {
  border: 1px solid #70c6ff !important;
}

/* Flex Slider */

.portfolio-slider .flex-direction-nav a:hover,
.second-slider .flex-direction-nav a:hover {
  background: #70c6ff;
}

/* Pagination */

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover {
  background: #70c6ff;
}

/* Header area
================================================== */

/*-- Header --*/
.header {
  border-top: 5px solid #70c6ff;
}

.header-solid ul.navbar-nav>li:hover>a,
.header-solid ul.navbar-nav>li.active>a {
  color: #70c6ff;
}

/*-- Logo --*/

.navbar-brand {
  /* background: #70c6ff; */
}

/*-- Main navigation --*/

ul.navbar-nav>li:hover>a,
ul.navbar-nav>li.active>a {
  color: #70c6ff;
}

.navbar-toggle {
  background: #70c6ff;
}

.dropdown-menu>ul>li.active>a {
  color: #70c6ff;
}

.dropdown-menu>ul>li>a:hover,
.dropdown-menu>ul>li>a:focus {
  color: #70c6ff;
}


/* Header area - 2
================================================== */

/*-- Header bgnone fixed --*/

.header-bgnone {
  background: #70c6ff;
}


/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
  background-color: #70c6ff;
}

#main-slide .carousel-control i:hover {
  background: #70c6ff;
}

/* Image Block
================================================== */

.image-block-content .feature-icon {
  background: #70c6ff;
}


/* Portfolio
================================================== */

.isotope-nav ul li a {
  border: 1px solid #70c6ff;
}

.isotope-nav ul a.active,
.isotope-nav ul a:hover {
  background: #70c6ff;
}

.isotope-nav ul a.active:after,
.isotope-nav ul a:hover:after {
  border-color: #70c6ff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/* Feature box
================================================== */
.feature-icon {
  color: #70c6ff;
}

.feature-center-icon {
  color: #70c6ff;
}

/* About us
================================================== */

/* Featured Tab */

.featured-tab .nav-tabs>li.active>a {
  background: #70c6ff;
}

.featured-tab .nav-tabs>li.active>a:after {
  border-left-color: #70c6ff;
}

.featured-tab .nav-tabs>li>a:hover {
  background: #70c6ff;
  color: #fff;
}

.featured-tab .nav-tabs>li>a:hover:after {
  border-left-color: #70c6ff;
}

/* Pricing table
================================================== */

.plan.featured .plan-price {
  background: #70c6ff;
}

.plan.featured .plan-price:after {
  border-top-color: #70c6ff;
}

/* Testimonial
================================================== */

.testimonial-slide .testimonial-text:before {
  color: #70c6ff;
}

.testimonial-slide .testimonial-text:after {
  color: #70c6ff;
}

.testimonial-slide.owl-theme .owl-controls .owl-page.active span {
  background: #70c6ff;
}

/* Recent Post
================================================== */

.post-img-overlay a:hover {
  background: #70c6ff;
}


/* Footer
================================================== */

.copyright-info a:hover {
  color: #70c6ff;
}

.footer2 .copyright-info a {
  color: #70c6ff;
}

#back-to-top .btn.btn-primary:hover {
  background: #70c6ff;
}

.footer-about-us h4 {
  color: #70c6ff;
}

.footer-widget .latest-post-content h4 a:hover {
  color: #70c6ff;
}

.subscribe button {
  background: #70c6ff;
}

/* Blog Item page
================================================== */

.post-meta a:hover {
  color: #70c6ff;
}

.author-url span a:hover {
  color: #70c6ff;
}

.comments-counter a:hover {
  color: #70c6ff;
}

.comments-list .comment-reply:hover {
  color: #70c6ff;
}

/*-- Blog sidebar --*/

.widget-tab .nav-tabs>li.active>a {
  background: #70c6ff;
}

.widget-tab h4.entry-title a:hover {
  color: #70c6ff;
}

.widget-tags ul>li a:hover {
  background: #70c6ff;
}

/* Landing page
================================================== */

.landing-header.header-bgnone ul.navbar-nav>li:hover>a,
.landing-header.header-bgnone ul.navbar-nav>li.active>a {
  color: #70c6ff;
}

.features-content .features-icon {
  color: #70c6ff;
}

.landing_facts {
  background: #70c6ff;
}

.landing-tab .nav-tabs>li.active {
  border-right: 5px solid #70c6ff;
}

.landing-tab .nav-tabs>li.active>a i {
  color: #70c6ff;
}

.landing-tab .nav-tabs>li>a:hover {
  color: #70c6ff !important;
}

.landing-tab .tab-pane i.big {
  color: #70c6ff;
}

.app-gallery.owl-theme .owl-controls .owl-page.active span {
  background: #70c6ff;
}

.landing_page_clients {
  background: #70c6ff;
}

/* Misc */

.title-border {
  border-bottom: 2px solid #70c6ff;
}

.post-title a:hover {
  color: #70c6ff;
}

.portfolio-static-desc a:hover {
  color: #70c6ff;
}

.client-carousel .item a:hover {
  border: 1px solid #70c6ff;
}

.footer ul li a:hover {
  color: #70c6ff;
}

.call-to-action {
  background: #70c6ff;
}

.blog-date {
  background: #70c6ff;
}

.widget-categories ul.category-list li a:hover {
  color: #70c6ff;
}

.about-message ul li a:hover {
  color: #70c6ff;
}